
.form {
    color: $white;
    border: none;
    outline: none;
    padding: 20px;
    .validation-panel {
        .formErrors {
            p {
                padding: 0px 10px;
                font-size: 14px;
                font-style: italic;
                margin: 0;
                span {
                    color: $yellow;
                }
            }
        }
    }
    .form-control {
        color: $white;
        border: none;
        outline: none;
        box-shadow: none;
        border-radius: 0;  
        font-style: italic;
        //box-shadow: 0 0px 10px rgba(118, 82, 161, 0.65), 0 0px 50px rgba(204, 78, 156, 0.45);
        &::placeholder {
            color: $gray-300; 
        }
    }
}

.form-primary-en {
    background: linear-gradient(45deg, $pink, lighten($pink,6));
    box-shadow: 0 0px 5px rgba(118, 82, 161, 0.65), 0 0px 24px rgba(204, 78, 156, 0.45);
    .validation-panel {
        background: linear-gradient(90deg, lighten($red,8), transparent);
    }
    .form-control {
        background: linear-gradient(90deg, lighten($pink,6), transparent);
    }
}

.form-primary-ar {
    text-align: right;
    background: linear-gradient(-45deg, $pink, lighten($pink,6));
    .validation-panel {
        background: linear-gradient(-90deg, lighten($red,8), transparent);
    }
    .form-control {
        background: linear-gradient(-90deg, lighten($pink,6), transparent);
    }
}

.form-header {
    margin: 0 auto;
    .form-control {
        border: 4px $white solid;
        background: transparent;
    }
    .inline-form-button {
        border-radius: 0;
        border: 4px $white solid;
        padding: 7.5px 10px;
        color: $purple;
        background: $white;
        &:hover {
            background: darken($white, 5);
            border-color: darken($white, 5);
        }
    }
}

@include media-breakpoint-down(sm) {
    .form-header {
        margin: 0 auto;
        .inline-form-button {
            padding: 7.5px 6px;
            font-size: 16px;
        }
    }
    .form {
        .btn-important {
            font-size: 12px;
        }
    }
}

.form-header-en {
    .form-control {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .inline-form-button {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}

.form-header-ar {
    .form-control {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group > .btn, .input-group-btn:not(:last-child) > .dropdown-toggle, .input-group-btn:not(:first-child) > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:first-child) > .btn-group:not(:last-child) > .btn {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    } 
    .inline-form-button {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
