
.header {
    nav {
        background-color: none;
        color: $white;
        .navbar-brand {
            img {
                height: 90px;
                padding: 0;
                margin: 0;
            }
        }
        .langButton {
            box-shadow: none;
            color: $white;
            padding: 5px 15px;
            margin-top: 5px;
            font-weight: 500;
        }
        .navbar-nav {
            padding-right: 0;
            
            .nav-item {
                
                .nav-link{
                    text-align: center;
                    color: $white;
                    text-transform: uppercase;
                    &:hover{
                        color: $orange;
                    }
                }
                .active {
                    border-bottom: 3px $white solid;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            .navbar-brand {
                img {
                    height: 60px;
                }
            }
            .navbar-text {
                font-size: 0.8rem;
            }
            .langButton {
                font-size: 0.8rem;
                padding: 5px 15px;
            }
            .navbar-nav {
                padding-right: 0;
                background: linear-gradient(45deg, $purple, lighten($purple,6));
                box-shadow: 0 0px 5px rgba(118, 82, 161, 0.65), 0 0px 15px rgba(204, 78, 156, 0.45);
                animation: fadein 1s;
                .langButton {
                    border-radius: 0;
                    padding: 8px 0px;
                    display: block;
                }
                .nav-item {
                    
                    .nav-link{
                        text-align: center;
                        display: block;
                    }
                    &:active {
                        background: linear-gradient(90deg, lighten($pink,6), transparent);
                    }
                    &:hover {
                        background: linear-gradient(90deg, lighten($pink,6), transparent);
                    }
                }
                @keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }
            }
        }
        
    }
}