
//$white: #F8F7F5 !default;
$white: #F5F8FB !default;
$gray-100: #F8F9FB !default;
$gray-200: #EDEDEF !default;
$gray-300: #D7D7DB !default;
$gray-400: #B2B1B3 !default;
$gray-500: #737474 !default;
$gray-600: #4B4A50 !default;
$gray-700: #495057 !default;
$gray-800: #38383D !default;
$gray-900: #2A2A2E !default;
$black: #0D0D0E !default;

$blue: #3964AF !default;
$indigo: #1A469D !default;
//$purple: #7652A1 !default;
$purple: #6E48AA !default;
$purple-dark: #46256D !default;
//$pink: #CC4E9C !default;
$pink: #9D50BB !default;
$red: #f44336 !default;
$orange: #F7931E !default;
$yellow: #FEE800 !default;
$green: #60BB46 !default;
$teal: #008EA4 !default;
$cyan: #2EC0D1 !default;

$max-width: 1400px;