// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
//

//
@import './colors.scss';

// Reassign color vars to semantic color scheme
$theme-colors: (
    primary: $purple,
    secondary: $orange,
    success: $green,
    info: $cyan,
    warning: $yellow,
    danger: $red,
    light: $gray-200,
    dark: $gray-800
  )
  !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: false !default;
$enable-transitions: false !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (sm: 540px, md: 640px, lg: 740px, xl: 840px) !default;

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-700 !default;
$inverse-bg: $gray-900 !default;
$inverse-color: $gray-600 !default;

// Links
//
// Style anchor elements.
$link-decoration: none !default;
$link-hover-decoration: none !default;

// Fonts
//
@import './fonts.scss';

@import 'node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
    
}

::-moz-selection { /* Code for Firefox */
  color: $white;
  background: lighten($pink,8);
}

::selection {
  color: $white;
  background: lighten($pink,8);
}


body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(93, 4, 177, 0.3);
  background: linear-gradient(132deg, lighten($color: $purple, $amount: 5), lighten($color: $pink, $amount: 5))
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(40deg, $purple-dark, darken($pink, 8));
  box-shadow: 0 0 6px rgba(93, 4, 177, 0.3);
  border-radius: 5px;
  outline: 1px solid $purple-dark;
}


p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 20px;
}

img {
  padding-bottom: 10px;
  margin-bottom: 15px;
  max-width: 100%;
}


.btn {
  border-radius: 15px;
  padding: 7px 30px;
  font-size: 20px;
  font-weight: 600;
  border: none;
  outline: none;
  color: $white;
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(-30deg, $purple, $pink);
  box-shadow: 0 0px 5px rgba(118, 82, 161, 0.65), 0 0px 10px rgba(204, 78, 156, 0.45);
  background-size: 150%;
  &:hover {
    animation: colorspin 2s ease infinite;
  }
  &:active {
    animation: colorspin 2s ease infinite;
  }
}

.btn-important {
  background: linear-gradient(-30deg, $red, $orange);
  box-shadow: 0 0px 5px rgba(118, 82, 161, 0.65), 0 0px 10px rgba(204, 78, 156, 0.45);
  background-size: 150%;
  &:hover {
    animation: colorspin 2s ease infinite;
  }
  &:active {
    animation: colorspin 2s ease infinite;
  }
}
@keyframes colorspin {
  0%{background-position: 100% 50%}
  25%{background-position: 100% 50%}
  50%{background-position: 0% 50%}
  75%{background-position: 0% 50%}
  100%{background-position: 100% 50%}
}
.align-middle {
  display: flex;
  align-items: center;
}

.row {
  justify-content: center;
}


// layout
//
@import './layout.scss';
@import './typography.scss';


// Compnents
//
@import 'components/bg';
@import 'components/footer';
@import 'components/header';
@import 'components/titleBox';
@import 'components/card';
@import 'components/section';
@import 'components/form';
@import 'components/business-card';


// pages
//
@import './page';

// templates
//
@import 'templates/service';

